body>div#root>div>main>div#app-container>div {
  & .shortNamespaceTooltip {
    cursor: pointer;
    text-decoration: underline;

    &::before {
      content: attr(data-orig-text);
      padding: 3px 13px;
      background-color: var(--ls-secondary-background-color);
      border-radius: 4px;
      font-size: .94em;
      position: absolute;
      top: 0;
      z-index: var(--ls-z-index-level-3);
      display: none;
    }

    &:not(.tag)::before {
      right: .2em;
    }

    &.tag::before {
      left: -0.2em;
    }

    &:hover::before {
      display: block;
    }
  }

  & div:is(#main-content-container, #right-sidebar) .shortNamespaceTooltip::before {
    white-space: nowrap;
  }
}